body {
    background-color: #007f7f;
}

.window {
    --titlebar-height: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 66%;
    height: 66%;
    resize: both;
    overflow: hidden;
    border: solid 2px #eee;
}

.taskbar {
    position: absolute;
    background-color: #ccc;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    border-top: solid #eee 2px;
}

.titlebar {
    height: var(--titlebar-height);
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titlebar-buttons {
    display: flex;
    align-items: center;
}

.titlebar-button {
    height: calc(0.8 * var(--titlebar-height));
    width: calc(0.8 * var(--titlebar-height));
    border-radius: 0;
    margin-right: 0.25rem;
}

.window > .content {
    width: 100%;
    height: calc(100% - var(--titlebar-height));
    display: flex;
    justify-content: start;
}

.terminal {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: black;
}

.terminal > .content {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: white;
    margin: 0.5rem;
}
